:root {
  --RUBY: 233,67,54;
  --SAPPHIRE: 0,104,175;
  --EMERALD: 14,144,70;
  --DIAMOND: 255,255,255;
  --GOLD: 255,204,0;
  --ONYX: 0,0,0;
  --PLAYER-BOARD-CARD-OPACITY: 0.5;
  --TOKEN-BACKGROUND: linear-gradient(rgb(243, 208, 160), rgb(204, 164, 133));
  --TEXT-SHADOW: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  --CARD-WIDTH: 12em;
}

.ONYX {
  background: rgb(var(--ONYX));
  color: white;
}
.RUBY {
  background: rgb(var(--RUBY));
  color: white;
}
/* Green */
.SAPPHIRE {
  background: rgb(var(--SAPPHIRE));
  color: white;
}
.EMERALD {
  background: rgb(var(--EMERALD));
  color: white;
}
.DIAMOND {
  background: rgb(var(--DIAMOND));
  color: black;
}
.GOLD {
  background: rgb(var(--GOLD));
  color: white;
}
